# Data
ccxt
python-binance
polars
pyarrow
pyyaml

# Utils
loguru
tqdm
python-dotenv
numpy<2
ipykernel
matplotlib
scikit-learn
statsmodels
seaborn
iisignature
optuna
torch==2.1.2
signatory==1.2.6.1.9.0
torchsde

pandas
wandb
matplotlib